<div id="dashboard">

    <mat-card>
        <mat-card-subtitle>CUSTOMERS</mat-card-subtitle>
        <mat-card-title>1538</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button>See more</button>

        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>PAYMENTS</mat-card-subtitle>
        <mat-card-title>2365</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button>See more</button>

        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>Invoices</mat-card-subtitle>
        <mat-card-title>5969</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button>See more</button>

        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>LOANS</mat-card-subtitle>
        <mat-card-title>458</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button>See more</button>
        </mat-card-actions>
    </mat-card>

    <mat-card>
        <mat-card-subtitle>Total Incomes</mat-card-subtitle>
        <mat-card-title>125 509$</mat-card-title>
        <mat-card-actions>
            <button mat-stroked-button>See more</button>
        </mat-card-actions>
    </mat-card>

</div>