<p>
    <mat-toolbar color="primary">
        <button mat-icon-button class="menu-icon" aria-label="Menu icon">
        <mat-icon>menu</mat-icon>
      </button>
        <span>LOANS</span>
        <span class="spacer"></span>
        <button mat-icon-button class="login-icon" aria-label="Login icon">
        <mat-icon>login</mat-icon>
      </button>
        <button mat-icon-button class="person-icon" aria-label="Person icon">
        <mat-icon>person</mat-icon>
      </button>
    </mat-toolbar>
</p>