<mat-selection-list [multiple]="false">

    <mat-list-option>
        <a routerLink="/dashboard">Dashboard</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/customers">Customers</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/loans">Loans</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/payments">Payments</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/invoices">Invoices</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/reports">Reports</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/settings">Settings</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/activity">Activity</a>
    </mat-list-option>
</mat-selection-list>