<mat-selection-list [multiple]="false">
    <mat-list-option>
        <a routerLink="/user/bob">Money</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Reports</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Invoices</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Payments</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Documents</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Settings</a>
    </mat-list-option>
</mat-selection-list>