<mat-selection-list [multiple]="false">
    <mat-list-option>
        <a routerLink="/customers">Customers</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/loans">Loans</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/payments">Payments</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/invoices">Invoices</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/audit">Activity log</a>
    </mat-list-option>

    <mat-list-option>
        <a routerLink="/user/bob">Settings</a>
    </mat-list-option>
</mat-selection-list>