<h1>Customers</h1>

<div id="customer-buttons">

    <button mat-raised-button id="add-item">Add Customer</button>
    <button mat-raised-button id="view-item">View Customer</button>
    <button mat-raised-button id="edit-item">Edit Customer</button>
    <button mat-raised-button id="delete-item">Delete Customer</button>


    <!-- <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Search</mat-label>
         <input matInput type="text" [(ngModel)]="value"> 
         <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''"> 
        <mat-icon>search</mat-icon>
         </button>
    </mat-form-field> -->


    <table mat-table class="customers-table mate-elevation-z8" [dataSource]="customerList">
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Customer ID </th>
            <td mat-cell *matCellDef="let customer"> {{customer._id}} </td>
        </ng-container>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef> First Name</th>
            <td mat-cell *matCellDef="let customer"> {{customer.firstName}} </td>
        </ng-container>

        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef> Last Name </th>
            <td mat-cell *matCellDef="let customer"> {{customer.lastName}} </td>
        </ng-container>

        <ng-container matColumnDef="emailAddress">
            <th mat-header-cell *matHeaderCellDef> Email </th>
            <td mat-cell *matCellDef="let customer"> {{customer.emailAddress}} </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
            <th mat-header-cell *matHeaderCellDef> Phone Number </th>
            <td mat-cell *matCellDef="let customer"> {{customer.phoneNumber}} </td>
        </ng-container>

        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef> Onboarded </th>
            <td mat-cell *matCellDef="let customer"> {{customer.dob}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
            <th mat-header-cell *matHeaderCellDef> Department </th>
            <td mat-cell *matCellDef="let customer"> {{customer.department}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)" [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}" (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
        </tr>

    </table>