table {
    width: 90%;
}

.mat-row.hovered {
    background: #eee;
}

.mat-row.highlighted {
    background: rgb(242, 242, 242);
}

section {
    display: table;
}

.mat-button-base {
    margin: 8px 8px 8px 0;
}

.example-form-field {
    width: 350px;
}

#add-item {
    background-color: rgb(232, 255, 245);
}

#edit-item {
    background-color: rgb(251, 243, 216);
}

#view-item {
    background-color: rgb(228, 243, 255);
}

#delete-item {
    background-color: rgb(255, 228, 228);
}

a {
    text-decoration: none;
    color: black;
}