.mat-card {
    width: 20%;
    margin: auto;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

#submit {
    margin: 3%;
    background-color: rgb(130, 121, 250);
    color: white;
}

.error-message {
    color: red;
}