<mat-card class="example-card">
    <mat-card-title>REGISTER</mat-card-title>
    <mat-card-subtitle>Use the register form below to sign up.</mat-card-subtitle>

    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Enter email address</mat-label>
            <input matInput placeholder="example@email.com">
            <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Select username</mat-label>
            <input matInput placeholder="Username">
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Select password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Repeat password</mat-label>
            <input matInput placeholder="Password">
            <mat-icon matSuffix>password</mat-icon>
        </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
        <button mat-button id='submit'>Submit</button>
    </mat-card-actions>


</mat-card>