<mat-toolbar color="primary">
    <button mat-icon-button class="header-icon" aria-label="home icon">
      <mat-icon >home</mat-icon>
    </button>
    <span id="title-logo">Loans Manager</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="header-icon favorite-icon" aria-label="profile icon">
      <mat-icon>person</mat-icon>
    </button>
    <button mat-icon-button class="header-icon" aria-label="logout icon">
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button mat-icon-button class="header-icon" aria-label="login icon">
        <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="header-icon" aria-label="register icon">
        <mat-icon>search</mat-icon>
    </button>
</mat-toolbar>