<mat-card class="customer-card">
    <mat-card-title>CUSTOMER</mat-card-title>
    <mat-card-subtitle>Personal information about the customer:</mat-card-subtitle>

    <mat-card-content>
        <p>First Name: <i>{{customer.firstName}}</i></p>
        <p>Last Name: <i>{{customer.lastName}}</i></p>
        <p>Phone Number: <i>{{customer.phoneNumber}}</i></p>
        <p>Email Address: <i>{{customer.emailAddress}}</i></p>
        <p>Department: <i>{{customer.department}}</i></p>
        <p>Date of creation: <i>{{customer.dob}}</i></p>

        <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-title>Financial</mat-card-title>
    <mat-card-subtitle>Financial information about the customer:</mat-card-subtitle>


    <mat-card-content>
        <p>Loans: <i>130000</i> </p>
        <p>Payments: <i>12-04-2022</i></p>
        <p>Status: <i>Active</i></p>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button><a [routerLink]="['/customers/edit', customer._id]">EDIT</a></button>
        <button mat-button>DELETE</button>
    </mat-card-actions>
</mat-card>