<mat-card class="customer-card">
    <mat-card-title>CUSTOMER</mat-card-title>
    <mat-card-subtitle>Personal information about the customer:</mat-card-subtitle>

    <mat-card-content>
        <p>First Name: </p>
        <p>Last Name: </p>
        <p>Phone Number: </p>
        <p>Email Address: </p>
        <p>Department: </p>
        <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-title>Financial</mat-card-title>
    <mat-card-subtitle>Financial information about the customer:</mat-card-subtitle>


    <mat-card-content>
        <p>Loans: </p>
        <p>Payments:</p>
        <p>Status: </p>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button>EDIT</button>
        <button mat-button>DELETE</button>
    </mat-card-actions>
</mat-card>