<mat-card class="customer-card">
    <mat-card-title>CUSTOMER</mat-card-title>
    <mat-card-subtitle>Personal information about the customer:</mat-card-subtitle>

    <mat-card-content>
        <p>First Name: <span>{{customer.firstName}}</span></p>
        <p>Last Name: <span>{{customer.lastName}}</span></p>
        <p>Phone Number: <span>{{customer.phoneNumber}}</span></p>
        <p>Email Address: <span>{{customer.emailAddress}}</span></p>
        <p>Department: <span>{{customer.department}}</span></p>
        <p>Date of creation: <span>{{customer.dob}}</span></p>

        <mat-divider></mat-divider>
    </mat-card-content>

    <mat-card-title>Financial</mat-card-title>
    <mat-card-subtitle>Financial information about the customer:</mat-card-subtitle>


    <mat-card-content>
        <p>Loans: <span>130000</span> </p>
        <p>Payments: <span>12-04-2022</span></p>
        <p>Status: <span>Active</span></p>

    </mat-card-content>

    <mat-card-actions>
        <button mat-button><a [routerLink]="['/customers/edit', customerId]">EDIT</a></button>
        <button mat-button><a [routerLink]="['/customers/delete', customerId]"></a>DELETE</button>
    </mat-card-actions>
</mat-card>